<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.c0fle4.FontRedirect">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FontRedirect"
        android:extractNativeLibs="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="根据 /etc/fonts.xml 强制指定应用使用系统字体（英文/CJK）；通过 st_dev 检测 Magisk DenyList 并回退到模块内置字体；跳过银行 :Security 自检进程" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>

</manifest>
